@page "/pokemons"
@inject HttpClient Http
@using Pokedex.Shared.Models
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
<link rel="stylesheet" href="/css/Pokemon.css" />



        @if (pokemons == null)
        {
            <p>Loading...</p>
       
        }
        else
        {
    <table class="table">
        <thead>
            <tr>
                <th class="table-th">Pokedex number</th>
                <th class="table th">Name</th>
 
            </tr>
        </thead>
        <tbody>

            @foreach (var p in pokemons)
            {
                var link = $"display/{p.pId}";
                <tr>
                    <td>@p.pId</td>
                    <td>
                        <!-- Use NavLink to navigate to the DisplayPokemon component -->
                        <NavLink href="@link" class="nav-link">
                            @p.pName
                        </NavLink>
                    </td>
                </tr>
                @* <tr>
                    <td>@p.pId</td>
                    <td>@p.pName</td>
                    <td>@p.type1</td>
                    <td>@p.type2 </td>
                    <td>@p.abilities</td>
                </tr> *@
            }
            
    </tbody>
</table>
        }



@code {
    private Pokemon[]? pokemons;

    protected override async Task OnInitializedAsync()
    {
   
        pokemons = await Http.GetFromJsonAsync<Pokemon[]>("api/Pokemons");
        //StateHasChanged();
    }


}
